<h1>Login Page</h1>
<form action="/login" method="POST">
    <label for="">Username: <input type="text" name="username" value="{{data.username}}"></label><br>
    <label for="">Password: <input type="password" name="password"></label><br>
    <input type="submit" value="Login">
</form>