<h1>Register Page</h1>
<form action="/register" method="POST">
    <label for="">Username: <input type="text" name="username" value="{{data.username}}">></label><br>
    <label for="">Password: <input type="password" name="password"></label><br>
    <label for="">Repass: <input type="password" name="repass"></label><br>
    <input type="submit" value="Register">
</form>